.wrap{
    padding: 70px 0;
    
}
.login{
    width: 450px;
    min-height: 400px;
    background-color: #fff;
    padding: 10px 30px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 auto;
}
.login p{
    float: left;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 30px;
}
.login input{
    width: 100%;
    border: none;
    padding: 5px;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid crimson;
    outline: none;
    color: black;
    margin-bottom: 15px;

}
.option{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.option input{
    float: left;
    margin-left: 0px;
    position: absolute;
    left: -50px;
}
.option label{
    position: relative;
}
.loginBtn{
    border: none !important;
    background-color: orangered;
    width: 150px !important;
    color: #fff !important;
    margin-top: 20px;
    margin-bottom: 15px;
}
.crtMsz{
    font-size: 15px !important;
    margin: 0 auto;
    text-align: center;
    display: block;
}
.or-style{
    width: 60px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    background-color: orangered;
    border-radius: 50%;
    padding: 8px;
    margin: 20px auto;

}
.googleBtn{
    background-color: rgba(248, 248, 248, 0.867);
    width: 250px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid orangered;
    font-weight: bold;
}
.googleBtn img{
    width: 40px;
    margin-left: -17px;
    margin-right: 10px;
}
body{
    background-color: #fff;
}